/*FONTS*/
@font-face {font-family: "tiny"; src: url("font/TerminalGrotesque_JSMODGX.ttf") format("truetype-variations"); font-weight: 400 700;}
@font-face {font-family: "tiny_old"; src: url("font/TerminalGrotesque_JSMOD-Regular.woff");}

/*DESKTOP ANIMATIONS*/
@keyframes fontweight_in {from {font-weight: 600;} to {font-weight: 400;}}
@keyframes fontweight_out {from {font-weight: 400;} to {font-weight: 600;}}

@keyframes lightbold_in {from {font-weight: 430;} to {font-weight: 400;}}
@keyframes lightbold_out {from {font-weight: 400;}to {font-weight: 430;}}

@keyframes info {0% {font-weight: 420; transform: rotate(2deg);} 50% {font-weight: 400;transform: rotate(-2deg); } 100% {font-weight: 420;transform: rotate(2deg);}}
@keyframes info_hover {0% {font-weight: 420; transform: rotate(2deg);} 50% {font-weight: 400; transform: rotate(0deg);} 100% {font-weight: 420; transform: rotate(2deg);}}

@keyframes img_in {from {border-radius: 50%; filter:brightness(0%);} to {border-radius: 5%; filter:brightness(100%);}}
@keyframes img_out {from {border-radius: 5%; filter:brightness(100%);} to {border-radius: 50%; filter:brightness(0%);}}

/*MOBILE ANIMATIONS*/
@keyframes fontweight_in_mobile {0% {font-weight: 400;} 50% {font-weight: 600;} 100% {font-weight: 400;}}
@keyframes fontweight_out_mobile {0% {font-weight: 400;} 50% {font-weight: 600;} 100% {font-weight: 400;}}

@keyframes img_in_mobile {0% {border-radius: 50%; filter:brightness(0%);} 50% {border-radius: 5%; filter:brightness(100%);} 100% {border-radius: 50%; filter:brightness(0%);}}
@keyframes img_out_mobile {0% {border-radius: 50%; filter:brightness(0%);} 50% {border-radius: 5%; filter:brightness(100%);} 100% {border-radius: 50%; filter:brightness(0%);}}


body {
  background: #AFFF52;

  padding: 20px;
  max-width: 700px;

  font-family: tiny, tiny_old, Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: left;
  line-height: 30px;
  font-weight: 400;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

h1 {
  margin-top: 75px;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  animation-name: lightbold_in;
  animation-duration: 1s;
}

h1:hover {
  cursor: help;
  font-weight: 430;
  animation-name: lightbold_out;
  animation-duration: 1s;
}

p {
  font-weight: 400;
  margin-bottom: -10px;
}

p:hover {
  cursor: help;
}

.menue {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  z-index: 3000;
  top: 20px;
  width: auto;
  position: sticky;

  -webkit-box-shadow: 0px 0px 6px 0px #AFFF52;
  -moz-box-shadow: 0px 0px 6px 0px #AFFF52;
  box-shadow: 0px 0px 6px 0px #AFFF52;
}

.menue a {
  color: white;
}

.bild{
  margin-top: -70px;
  margin-bottom: -70px;
  /*    mix-blend-mode: multiply; */
  width:100%;
  border-radius: 50%;
  animation-name: img_out;
  animation-duration: 1s;
  filter: brightness(0%);
  position: relative;
  z-index: 1000;
}

.bild:hover {
  border-radius: 5%;
  animation-name: img_in;
  animation-duration: 1s;
  cursor: help;
  filter: brightness(100%);
}

.illufont{
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  animation-name: fontweight_out;
  animation-duration: 1s;
  position: relative;
  z-index: 2000;
}

.illufont:hover{
  font-weight: 400;
  cursor: help;
  animation-name: fontweight_in;
  animation-duration: 1s;
}

.layer {
  z-index: 2000;
}

.support{
  margin-top: 100px;
  margin-bottom: 100px;

  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

.info_text {
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 25px;
  font-weight: 400;
  animation-name: lightbold_in;
  animation-duration: 1s;
}

.info_text:hover {
  cursor: help;
  font-weight: 430;
  animation-name: lightbold_out;
  animation-duration: 1s;
}

.space {
  min-height: 75px;
}

.space_klein {
  min-height: 50px;
}

.lightbold {
  font-weight: 400;
  animation-name: lightbold_in;
  animation-duration: 1s;
}

.lightbold:hover {
  font-weight: 430;
  animation-name: lightbold_out;
  animation-duration: 1s;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.anchor {
  margin-top: -75px;
  padding-bottom: 75px;
  display: block;
}

.eng {
  margin-left: 0px;
}

.ger {
  margin-left: 50px;
}

.blue:hover {
  color: blue;
}


.watch {
  position: fixed;
  bottom: 10px;
  right: 1%;
  background-color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  border-radius: 10px;
  z-index: 4000;
  max-width: 300px;

  font-weight: 420;
  color: white;

  animation-name: info;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.watch:hover {
  font-weight: 400;
  animation-name: info_hover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#idbody {
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none;
}





/* Extra small devices (phones, 600px and down) */
@media (hover: none) and (pointer: coarse) {
  body {
    font-size: 20px;
    text-align: left;
    line-height: 20px;
    font-weight: 400;
  }


  h1 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
  }

  h1:hover {
    cursor: help;
    font-weight: 430;
    animation-name: lightbold_out;
    animation-duration: 1s;
  }

  p {
    font-weight: 400;
    margin-bottom: -10px;
  }

  p:hover {
    cursor: help;
  }

  .menue {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    top: 20px;
    width: auto;
    position: sticky;
    z-index: 3000;

    -webkit-box-shadow: 0px 0px 6px 0px #AFFF52;
    -moz-box-shadow: 0px 0px 6px 0px #AFFF52;
    box-shadow: 0px 0px 6px 0px #AFFF52;
  }

  .menue a {
    color: white;
  }

  .bild{
    margin-top: -70px;
    margin-bottom: -70px;
    /*    mix-blend-mode: multiply; */
    width:100%;
    border-radius: 50%;
    animation-name: img_out_mobile;
    filter: brightness(100%);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 1000;
  }

  .bild:hover {
    border-radius: 5%;
    animation-name: img_out_mobile;
    animation-duration: 4s;
    cursor: help;
    filter: brightness(0%);
  }

  .illufont{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    animation-name: fontweight_in_mobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 2000;
  }

  .illufont:hover{
    font-weight: 400;
    cursor: help;
    animation-name: fontweight_in_mobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .support{
    margin-top: 100px;
    margin-bottom: 100px;

    font-size: 30px;
    line-height: 60px;
    text-align: center;
  }

  .info_text {
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 25px;
    font-weight: 400;
    animation-name: lightbold_in;
    animation-duration: 1s;
  }

  .info_text:hover {
    cursor: help;
    font-weight: 430;
    animation-name: lightbold_out;
    animation-duration: 1s;
  }

  .space {
    min-height: 75px;
  }

  .space_klein {
    min-height: 50px;
  }

  .lightbold {
    font-weight: 400;
    animation-name: lightbold_in;
    animation-duration: 1s;
  }

  .lightbold:hover {
    font-weight: 430;
    animation-name: lightbold_out;
    animation-duration: 1s;
  }

  html {
    scroll-behavior: smooth;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  #moss {
    max-width: 100% !important;
  }

  .anchor {
    margin-top: -75px;        /* Size of fixed header */
    padding-bottom: 75px;
    display: block;
  }

  .eng {
    margin-left: 0px;
  }

  .ger {
    margin-left: 50px;
  }
}
