@font-face {
font-family: "tiny";
src: url("font/TerminalGrotesque_JSMODGX.ttf") format("truetype-variations");
font-weight: 400 700;
}

@keyframes fontweight_in {
  from {font-weight: 600;}
  to {font-weight: 400;}
}

@keyframes fontweight_out {
  from {font-weight: 400;}
  to {font-weight: 600;}
}

@keyframes info {
  0% {font-weight: 600; transform: rotate(5deg);}
  50% {font-weight: 400;transform: rotate(-5deg); }
  100% {font-weight: 600;transform: rotate(5deg);}
}

@keyframes info_hover {
  0% {font-weight: 450; transform: rotate(7deg);}
  50% {font-weight: 400; transform: rotate(0deg);}
  100% {font-weight: 450; transform: rotate(7deg);}
}

@keyframes fontweight_in_mobile {
  0% {font-weight: 400;}
  50% {font-weight: 410;}
  100% {font-weight: 400;}
}

@keyframes fontweight_out_mobile {
  0% {font-weight: 400;}
  50% {font-weight: 410;}
  100% {font-weight: 400;}
}

@keyframes img_in {
  from {  border-radius: 50%; filter:brightness(0%);}
  to {  border-radius: 5%; filter:brightness(100%);}
}

@keyframes img_out {
  from {  border-radius: 5%; filter:brightness(100%);}
  to {  border-radius: 50%; filter:brightness(0%);}
}

@keyframes img_in_mobile {
  from {  border-radius: 50%; filter:brightness(100%);}
  to {  border-radius: 5%; filter:brightness(100%);}
}

@keyframes img_out_mobile {
  from {  border-radius: 5%; filter:brightness(100%);}
  to {  border-radius: 50%; filter:brightness(100%);}
}


body {
  background: #FFC285;

  padding: 20px;
  max-width: 700px;

  font-family: tiny, Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  display: block;
  margin-left: auto;
  margin-right: auto;

  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 30px;
  animation-name: fontweight_out;
  animation-duration: 1s;
}

h1:hover {
  font-weight: 400;
  animation-name: fontweight_in;
  animation-duration: 1s;
  cursor: help;
}

.bild{
  margin-top: 20px;
  margin-bottom: 0px;
  mix-blend-mode: multiply;
  width:100%;
  border-radius: 50%;
  animation-name: img_out;
  animation-duration: 1s;
  filter: brightness(0%);

}

.bild:hover {
  border-radius: 5%;
  animation-name: img_in;
  animation-duration: 1s;
  cursor: help;
  filter: brightness(100%);
}

p {
  font-weight: 600;
  animation-name: fontweight_out;
  animation-duration: 1s;
}

p:hover {
  font-weight: 400;
  animation-name: fontweight_in;
  animation-duration: 1s;
  cursor: help;
}

.illufont{
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.illufont:hover{
  font-weight: 400;
  cursor: help;
}

.support{
  margin-top: 100px;
  margin-bottom: 100px;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.info_text {
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 25px;
}

.platzhalter {
  background-color: green;
  padding-right: 50%;
  padding-left: 200px;
}

.artistblock {
  margin-top: 75px;
  margin-bottom: 0px;

  display: block;
  margin-left: auto;
  margin-right: auto
}

.space {
  min-height: 75px;
}

.howto {
  position: fixed;
  bottom: 50%;
  right: 1%;
  background-color: white;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  z-index: 10;

  font-weight: 600;
  animation-name: info;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.howto:hover {
  font-weight: 400;
  animation-name: info_hover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-color: black;
}

/* Extra small devices (phones, 600px and down) */
@media (hover: none) and (pointer: coarse) {
  body {
    background: #FFC285;

    padding: 20px;
    max-width: 700px;

    font-family: tiny, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    display: block;
    margin-left: auto;
    margin-right: auto;

    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: blue;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    animation-name: fontweight_out_mobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  h1:hover {
    font-weight: 400;
    animation-name: fontweight_in_mobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .bild{
    margin-top: 20px;
    margin-bottom: 0px;
    mix-blend-mode: multiply;
    width:100%;
    border-radius: 50%;
    animation-name: img_out_mobile;
    animation-duration: 1s;
    filter: brightness(100%);

  }

  .bild:hover {
    border-radius: 5%;
    animation-name: img_in_mobile;
    animation-duration: 1s;
    cursor: help;
    filter: brightness(100%);
  }

  p {
    font-weight: 400;
    animation-name: fontweight_out_mobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  p:hover {
    font-weight: 400;
    cursor: help;
    animation-name: fontweight_in_mobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .illufont{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  .illufont:hover{
    font-weight: 400;
    cursor: help;
  }

  .support{
    margin-top: 100px;
    margin-bottom: 100px;

    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .info_text {
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 25px;
  }

  .platzhalter {
    background-color: green;
    padding-right: 50%;
    padding-left: 200px;
  }

  .artistblock {
    margin-top: 40px;
    margin-bottom: 0px;

    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .space {
    min-height: 20px;
  }

  .howto {
    position: fixed;
    bottom: 50%;
    right: 1%;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    z-index: 10;

    font-weight: 400;
    animation-name: info;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .howto:hover {
    font-weight: 400;
    animation-name: info_hover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: black;
  }
}
